.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
}

.disclaimer {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

ion-toolbar {
  --background: white;
  --border-width: 0px !important;

  &.home {
    padding: 6px;
    ion-title {
      padding-left: 16px;
      text-align: left;
    }
  }

  ion-avatar {
    width: 100%;
    height: 100%;
  }
}

ion-item {
  --padding-bottom: 6px;

  &::part(detail-icon) {
    opacity: inherit;
  }

  ion-label {
    font-size: 14px;
  }
}
