/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Poppins", "Roboto", sans-serif;
  color: var(--black-primary);
}

body {
  background: #fdfdfd;
}

ion-button {
  font-size: 16px;
  --border-radius: 5px;
}

ion-button.button-default {
  height: 46px;
}

ion-button.button-small {
  height: 36px;
}

ion-button.button-large {
  height: 52px;
}

ion-button.button-primary {
  border-radius: 5px;
  font-size: 16px;

  &-red {
    --background: var(--red-primary);
    --background-activated: var(--red-primary);
    color: white;
    --border-radius: 5px;
  }
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-item.ion-invalid.ion-dirty .input-container,
ion-item.ion-invalid.ion-touched .input-container,
ion-item.ion-invalid.ion-touched ion-input,
ion-item.ion-invalid.ion-dirty ion-input {
  border-color: var(--ion-color-danger) !important;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  height: 48px;
  padding: 0 16px;

  ion-button {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    --color: var(--black-primary);
    height: fit-content;
    --color-activated: var(--black-primary);
    --color-focused: var(--black-primary);
    --color-hover: var(--black-primary);
  }
  .native-input {
    padding: 0;
    height: 100%;
  }
}
